In [ ]:
from google.colab import files
files. upload()

In [ ]:
import pandas as pd

In [ ]:
df_ecommerce = pd.read_csv('ecommerce_10000.csv')

In [ ]:
df_ecommerce.head()

,OrderID,Product,Category,Brand,Platform,City,Price,Quantity,TotalAmount,Rating,Reviews,OrderDate
0,ORD100000,Samsung Galaxy A14,Electronics,Samsung,Souq,Cairo,16284.02,1,16284.02,1.39,1684,2024-11-11
1,ORD100001,Nike Air Max,Fashion,Nike,Jumia,Alexandria,6645.20,2,13290.40,2.56,3604,2024-06-22
2,ORD100002,Bluetooth Headset,Accessories,JBL,Jumia,Casablanca,8882.92,3,26648.76,4.98,1257,2024-05-27
3,ORD100003,HP Pavilion Laptop,Computers,HP,Souq,Dubai,3665.44,1,3665.44,1.44,662,2024-07-25
4,ORD100004,iPhone 13,Electronics,Apple,Souq,Casablanca,5210.37,2,10420.74,3.73,2424,2024-02-19

In [ ]:
df_ecommerce

,OrderID,Product,Category,Brand,Platform,City,Price,Quantity,TotalAmount,Rating,Reviews,OrderDate
0,ORD100000,Samsung Galaxy A14,Electronics,Samsung,Souq,Cairo,16284.02,1,16284.02,1.39,1684,2024-11-11
1,ORD100001,Nike Air Max,Fashion,Nike,Jumia,Alexandria,6645.20,2,13290.40,2.56,3604,2024-06-22
2,ORD100002,Bluetooth Headset,Accessories,JBL,Jumia,Casablanca,8882.92,3,26648.76,4.98,1257,2024-05-27
3,ORD100003,HP Pavilion Laptop,Computers,HP,Souq,Dubai,3665.44,1,3665.44,1.44,662,2024-07-25
4,ORD100004,iPhone 13,Electronics,Apple,Souq,Casablanca,5210.37,2,10420.74,3.73,2424,2024-02-19
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,ORD109995,HP Pavilion Laptop,Computers,HP,Jumia,Riyadh,3571.93,1,3571.93,1.05,2154,2024-05-21
9996,ORD109996,Adidas Running Shoes,Fashion,Adidas,Souq,Cairo,2974.55,4,11898.20,2.60,1796,2024-11-27
9997,ORD109997,Adidas Running Shoes,Fashion,Adidas,Amazon,Riyadh,8646.20,1,8646.20,3.20,4001,2024-10-15
9998,ORD109998,T-shirt Cotton,Fashion,Generic,Amazon,Riyadh,4960.53,4,19842.12,3.42,685,2024-04-26
9999,ORD109999,Bluetooth Headset,Accessories,JBL,Jumia,Casablanca,13811.49,5,69057.45,2.84,488,2024-01-15

In [ ]:
df_ecommerce['TotalAmount'].max()

99993.8

In [ ]:
df_ecommerce['TotalAmount'].min()

113.55

In [ ]:
import numpy as np

In [ ]:
conditions = [
    df_ecommerce['TotalAmount'] < 5000,
    (df_ecommerce['TotalAmount'] >= 5000) & (df_ecommerce['TotalAmount'] < 10000),
    df_ecommerce['TotalAmount'] >= 10000
]
choices = ['Inexpensive','Moderate','Expensive']
df_ecommerce['Price_tier'] = np.select(conditions,choices,default='Unknown')

In [ ]:
df_ecommerce['Price_tier']

0         Expensive
1         Expensive
2         Expensive
3       Inexpensive
4         Expensive
           ...
9995    Inexpensive
9996      Expensive
9997       Moderate
9998      Expensive
9999      Expensive
Name: Price_tier, Length: 10000, dtype: object

In [ ]:
df_ecommerce.head(5)

,OrderID,Product,Category,Brand,Platform,City,Price,Quantity,TotalAmount,Rating,Reviews,OrderDate,Price_tier
0,ORD100000,Samsung Galaxy A14,Electronics,Samsung,Souq,Cairo,16284.02,1,16284.02,1.39,1684,2024-11-11,Expensive
1,ORD100001,Nike Air Max,Fashion,Nike,Jumia,Alexandria,6645.20,2,13290.40,2.56,3604,2024-06-22,Expensive
2,ORD100002,Bluetooth Headset,Accessories,JBL,Jumia,Casablanca,8882.92,3,26648.76,4.98,1257,2024-05-27,Expensive
3,ORD100003,HP Pavilion Laptop,Computers,HP,Souq,Dubai,3665.44,1,3665.44,1.44,662,2024-07-25,Inexpensive
4,ORD100004,iPhone 13,Electronics,Apple,Souq,Casablanca,5210.37,2,10420.74,3.73,2424,2024-02-19,Expensive

In [ ]:
df_ecommerce['Rating'].max()

5.0

In [ ]:
df_ecommerce['Rating'].min()

1.0

In [ ]:
conditions = [
    df_ecommerce['Rating']<2.5,
    (df_ecommerce['Rating']>=2.5) & (df_ecommerce['Rating']<4),
    df_ecommerce['Rating']>=4
]
choices = ['Low','Good','Excellent']
df_ecommerce['Rating_tier'] = np.select(conditions,choices,default='Unknown')

In [ ]:
df_ecommerce['Rating_tier']

0             Low
1            Good
2       Excellent
3             Low
4            Good
          ...
9995          Low
9996         Good
9997         Good
9998         Good
9999         Good
Name: Rating_tier, Length: 10000, dtype: object

In [ ]:
df_ecommerce

,OrderID,Product,Category,Brand,Platform,City,Price,Quantity,TotalAmount,Rating,Reviews,OrderDate,Price_tier,Rating_tier
0,ORD100000,Samsung Galaxy A14,Electronics,Samsung,Souq,Cairo,16284.02,1,16284.02,1.39,1684,2024-11-11,Expensive,Low
1,ORD100001,Nike Air Max,Fashion,Nike,Jumia,Alexandria,6645.20,2,13290.40,2.56,3604,2024-06-22,Expensive,Good
2,ORD100002,Bluetooth Headset,Accessories,JBL,Jumia,Casablanca,8882.92,3,26648.76,4.98,1257,2024-05-27,Expensive,Excellent
3,ORD100003,HP Pavilion Laptop,Computers,HP,Souq,Dubai,3665.44,1,3665.44,1.44,662,2024-07-25,Inexpensive,Low
4,ORD100004,iPhone 13,Electronics,Apple,Souq,Casablanca,5210.37,2,10420.74,3.73,2424,2024-02-19,Expensive,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,ORD109995,HP Pavilion Laptop,Computers,HP,Jumia,Riyadh,3571.93,1,3571.93,1.05,2154,2024-05-21,Inexpensive,Low
9996,ORD109996,Adidas Running Shoes,Fashion,Adidas,Souq,Cairo,2974.55,4,11898.20,2.60,1796,2024-11-27,Expensive,Good
9997,ORD109997,Adidas Running Shoes,Fashion,Adidas,Amazon,Riyadh,8646.20,1,8646.20,3.20,4001,2024-10-15,Moderate,Good
9998,ORD109998,T-shirt Cotton,Fashion,Generic,Amazon,Riyadh,4960.53,4,19842.12,3.42,685,2024-04-26,Expensive,Good
9999,ORD109999,Bluetooth Headset,Accessories,JBL,Jumia,Casablanca,13811.49,5,69057.45,2.84,488,2024-01-15,Expensive,Good

In [ ]:
df_ecommerce['Reviews'].max()

5000

In [ ]:
df_ecommerce['Reviews'].min()

0

In [ ]:
conditions = [
    df_ecommerce['Reviews'] == 0,
    (df_ecommerce['Reviews'] >= 1000) & (df_ecommerce['Reviews'] < 2500),
    df_ecommerce['Reviews'] >= 2500
]
choices = ['Negative','Neutral','Positive']
df_ecommerce['Reviews_tier'] = np.select(conditions,choices,default='Unknown')

In [ ]:
df_ecommerce['Reviews_tier']

0        Neutral
1       Positive
2        Neutral
3        Unknown
4        Neutral
          ...
9995     Neutral
9996     Neutral
9997    Positive
9998     Unknown
9999     Unknown
Name: Reviews_tier, Length: 10000, dtype: object

In [ ]:
df_ecommerce

,OrderID,Product,Category,Brand,Platform,City,Price,Quantity,TotalAmount,Rating,Reviews,OrderDate,Price_tier,Rating_tier,Reviews_tier
0,ORD100000,Samsung Galaxy A14,Electronics,Samsung,Souq,Cairo,16284.02,1,16284.02,1.39,1684,2024-11-11,Expensive,Low,Neutral
1,ORD100001,Nike Air Max,Fashion,Nike,Jumia,Alexandria,6645.20,2,13290.40,2.56,3604,2024-06-22,Expensive,Good,Positive
2,ORD100002,Bluetooth Headset,Accessories,JBL,Jumia,Casablanca,8882.92,3,26648.76,4.98,1257,2024-05-27,Expensive,Excellent,Neutral
3,ORD100003,HP Pavilion Laptop,Computers,HP,Souq,Dubai,3665.44,1,3665.44,1.44,662,2024-07-25,Inexpensive,Low,Unknown
4,ORD100004,iPhone 13,Electronics,Apple,Souq,Casablanca,5210.37,2,10420.74,3.73,2424,2024-02-19,Expensive,Good,Neutral
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,ORD109995,HP Pavilion Laptop,Computers,HP,Jumia,Riyadh,3571.93,1,3571.93,1.05,2154,2024-05-21,Inexpensive,Low,Neutral
9996,ORD109996,Adidas Running Shoes,Fashion,Adidas,Souq,Cairo,2974.55,4,11898.20,2.60,1796,2024-11-27,Expensive,Good,Neutral
9997,ORD109997,Adidas Running Shoes,Fashion,Adidas,Amazon,Riyadh,8646.20,1,8646.20,3.20,4001,2024-10-15,Moderate,Good,Positive
9998,ORD109998,T-shirt Cotton,Fashion,Generic,Amazon,Riyadh,4960.53,4,19842.12,3.42,685,2024-04-26,Expensive,Good,Unknown
9999,ORD109999,Bluetooth Headset,Accessories,JBL,Jumia,Casablanca,13811.49,5,69057.45,2.84,488,2024-01-15,Expensive,Good,Unknown

In [ ]:
df_ecommerce['Price_tier'].value_counts()

Price_tier
Expensive      7768
Inexpensive    1119
Moderate       1113
Name: count, dtype: int64

In [ ]:
df_ecommerce['Rating_tier'].value_counts()

Rating_tier
Good         3772
Low          3708
Excellent    2520
Name: count, dtype: int64

In [ ]:
df_ecommerce['Reviews_tier'].value_counts()

Reviews_tier
Positive    5073
Neutral     2959
Unknown     1967
Negative       1
Name: count, dtype: int64

In [ ]:
df_ecommerce

,OrderID,Product,Category,Brand,Platform,City,Price,Quantity,TotalAmount,Rating,Reviews,OrderDate,Price_tier,Rating_tier,Reviews_tier
0,ORD100000,Samsung Galaxy A14,Electronics,Samsung,Souq,Cairo,16284.02,1,16284.02,1.39,1684,2024-11-11,Expensive,Low,Neutral
1,ORD100001,Nike Air Max,Fashion,Nike,Jumia,Alexandria,6645.20,2,13290.40,2.56,3604,2024-06-22,Expensive,Good,Positive
2,ORD100002,Bluetooth Headset,Accessories,JBL,Jumia,Casablanca,8882.92,3,26648.76,4.98,1257,2024-05-27,Expensive,Excellent,Neutral
3,ORD100003,HP Pavilion Laptop,Computers,HP,Souq,Dubai,3665.44,1,3665.44,1.44,662,2024-07-25,Inexpensive,Low,Unknown
4,ORD100004,iPhone 13,Electronics,Apple,Souq,Casablanca,5210.37,2,10420.74,3.73,2424,2024-02-19,Expensive,Good,Neutral
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,ORD109995,HP Pavilion Laptop,Computers,HP,Jumia,Riyadh,3571.93,1,3571.93,1.05,2154,2024-05-21,Inexpensive,Low,Neutral
9996,ORD109996,Adidas Running Shoes,Fashion,Adidas,Souq,Cairo,2974.55,4,11898.20,2.60,1796,2024-11-27,Expensive,Good,Neutral
9997,ORD109997,Adidas Running Shoes,Fashion,Adidas,Amazon,Riyadh,8646.20,1,8646.20,3.20,4001,2024-10-15,Moderate,Good,Positive
9998,ORD109998,T-shirt Cotton,Fashion,Generic,Amazon,Riyadh,4960.53,4,19842.12,3.42,685,2024-04-26,Expensive,Good,Unknown
9999,ORD109999,Bluetooth Headset,Accessories,JBL,Jumia,Casablanca,13811.49,5,69057.45,2.84,488,2024-01-15,Expensive,Good,Unknown

In [ ]:
df_ecommerce.groupby('Category')['Price'].mean()

Category
Accessories     9709.873819
Computers       9801.988218
Electronics    10139.971635
Fashion        10160.238135
Wearables      10064.096853
Name: Price, dtype: float64

In [ ]:
df_ecommerce.groupby('Brand')['Price'].mean()

Brand
Adidas     10349.648998
Apple      10113.936963
Dell        9585.487630
FitPro     10064.096853
Generic    10029.693109
HP         10012.153269
JBL         9709.873819
Nike       10107.306468
Samsung     9885.616740
Xiaomi     10421.675777
Name: Price, dtype: float64

# ***ðŸŸ¢ Basic Filtering***

In [ ]:
#Show all orders where Category == "Electronics"
df_ecommerce[df_ecommerce['Category']=='Electronics']

,OrderID,Product,Category,Brand,Platform,City,Price,Quantity,TotalAmount,Rating,Reviews,OrderDate,Price_tier,Rating_tier,Reviews_tier
0,ORD100000,Samsung Galaxy A14,Electronics,Samsung,Souq,Cairo,16284.02,1,16284.02,1.39,1684,2024-11-11,Expensive,Low,Neutral
4,ORD100004,iPhone 13,Electronics,Apple,Souq,Casablanca,5210.37,2,10420.74,3.73,2424,2024-02-19,Expensive,Good,Neutral
9,ORD100009,Xiaomi Redmi Note 12,Electronics,Xiaomi,Jumia,Riyadh,6326.57,3,18979.71,2.05,4589,2024-09-26,Expensive,Low,Positive
10,ORD100010,Samsung Galaxy A14,Electronics,Samsung,Jumia,Riyadh,10283.51,1,10283.51,3.05,4702,2024-02-20,Expensive,Good,Positive
15,ORD100015,Xiaomi Redmi Note 12,Electronics,Xiaomi,Amazon,Cairo,15802.27,5,79011.35,1.75,1853,2024-02-02,Expensive,Low,Neutral
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9985,ORD109985,iPhone 13,Electronics,Apple,Souq,Cairo,15329.04,5,76645.20,3.87,15,2024-10-30,Expensive,Good,Unknown
9986,ORD109986,Samsung Galaxy A14,Electronics,Samsung,Souq,Dubai,18415.53,1,18415.53,2.01,2446,2024-01-09,Expensive,Low,Neutral
9990,ORD109990,Samsung Galaxy A14,Electronics,Samsung,Souq,Casablanca,3397.33,4,13589.32,1.37,370,2024-02-10,Expensive,Low,Unknown
9991,ORD109991,iPhone 13,Electronics,Apple,Jumia,Alexandria,5108.58,5,25542.90,4.13,1586,2024-09-03,Expensive,Excellent,Neutral
9993,ORD109993,iPhone 13,Electronics,Apple,Souq,Casablanca,19530.95,4,78123.80,4.34,4356,2024-04-10,Expensive,Excellent,Positive

In [ ]:
#Show all orders where Platform == "Amazon"
df_ecommerce[df_ecommerce['Platform']=='Amazon']

,OrderID,Product,Category,Brand,Platform,City,Price,Quantity,TotalAmount,Rating,Reviews,OrderDate,Price_tier,Rating_tier,Reviews_tier
8,ORD100008,T-shirt Cotton,Fashion,Generic,Amazon,Dubai,510.30,5,2551.50,1.17,178,2024-09-21,Inexpensive,Low,Unknown
15,ORD100015,Xiaomi Redmi Note 12,Electronics,Xiaomi,Amazon,Cairo,15802.27,5,79011.35,1.75,1853,2024-02-02,Expensive,Low,Neutral
17,ORD100017,Dell Inspiron 3501,Computers,Dell,Amazon,Cairo,13247.77,3,39743.31,3.86,4403,2024-12-17,Expensive,Good,Positive
18,ORD100018,iPhone 13,Electronics,Apple,Amazon,Giza,13936.49,2,27872.98,1.42,153,2024-01-24,Expensive,Low,Unknown
20,ORD100020,Adidas Running Shoes,Fashion,Adidas,Amazon,Dubai,9716.95,4,38867.80,1.76,60,2024-06-28,Expensive,Low,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9987,ORD109987,Nike Air Max,Fashion,Nike,Amazon,Casablanca,17139.83,2,34279.66,2.37,920,2024-06-13,Expensive,Low,Unknown
9988,ORD109988,Dell Inspiron 3501,Computers,Dell,Amazon,Giza,9093.51,5,45467.55,4.08,4273,2024-11-10,Expensive,Excellent,Positive
9989,ORD109989,Bluetooth Headset,Accessories,JBL,Amazon,Casablanca,6882.22,5,34411.10,3.13,2771,2024-08-13,Expensive,Good,Positive
9997,ORD109997,Adidas Running Shoes,Fashion,Adidas,Amazon,Riyadh,8646.20,1,8646.20,3.20,4001,2024-10-15,Moderate,Good,Positive
9998,ORD109998,T-shirt Cotton,Fashion,Generic,Amazon,Riyadh,4960.53,4,19842.12,3.42,685,2024-04-26,Expensive,Good,Unknown

In [ ]:
#Show all orders where City == "Bangalore"
df_ecommerce[df_ecommerce['City']=='Cairo']

,OrderID,Product,Category,Brand,Platform,City,Price,Quantity,TotalAmount,Rating,Reviews,OrderDate,Price_tier,Rating_tier,Reviews_tier
0,ORD100000,Samsung Galaxy A14,Electronics,Samsung,Souq,Cairo,16284.02,1,16284.02,1.39,1684,2024-11-11,Expensive,Low,Neutral
15,ORD100015,Xiaomi Redmi Note 12,Electronics,Xiaomi,Amazon,Cairo,15802.27,5,79011.35,1.75,1853,2024-02-02,Expensive,Low,Neutral
17,ORD100017,Dell Inspiron 3501,Computers,Dell,Amazon,Cairo,13247.77,3,39743.31,3.86,4403,2024-12-17,Expensive,Good,Positive
19,ORD100019,T-shirt Cotton,Fashion,Generic,Souq,Cairo,5953.25,3,17859.75,1.99,3079,2024-03-12,Expensive,Low,Positive
36,ORD100036,iPhone 13,Electronics,Apple,Souq,Cairo,19025.22,2,38050.44,1.07,2108,2024-09-05,Expensive,Low,Neutral
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9978,ORD109978,Xiaomi Redmi Note 12,Electronics,Xiaomi,Amazon,Cairo,3850.47,1,3850.47,2.78,3581,2024-02-22,Inexpensive,Good,Positive
9985,ORD109985,iPhone 13,Electronics,Apple,Souq,Cairo,15329.04,5,76645.20,3.87,15,2024-10-30,Expensive,Good,Unknown
9992,ORD109992,Nike Air Max,Fashion,Nike,Jumia,Cairo,12745.76,3,38237.28,3.09,785,2024-06-14,Expensive,Good,Unknown
9994,ORD109994,Adidas Running Shoes,Fashion,Adidas,Jumia,Cairo,6384.43,3,19153.29,3.04,2551,2024-05-16,Expensive,Good,Positive
9996,ORD109996,Adidas Running Shoes,Fashion,Adidas,Souq,Cairo,2974.55,4,11898.20,2.60,1796,2024-11-27,Expensive,Good,Neutral

# ***ðŸŸ¡ Numeric Conditions***

In [ ]:
#Show orders where Price > 10000
df_ecommerce[df_ecommerce['Price']>3000]

,OrderID,Product,Category,Brand,Platform,City,Price,Quantity,TotalAmount,Rating,Reviews,OrderDate,Price_tier,Rating_tier,Reviews_tier
0,ORD100000,Samsung Galaxy A14,Electronics,Samsung,Souq,Cairo,16284.02,1,16284.02,1.39,1684,2024-11-11,Expensive,Low,Neutral
1,ORD100001,Nike Air Max,Fashion,Nike,Jumia,Alexandria,6645.20,2,13290.40,2.56,3604,2024-06-22,Expensive,Good,Positive
2,ORD100002,Bluetooth Headset,Accessories,JBL,Jumia,Casablanca,8882.92,3,26648.76,4.98,1257,2024-05-27,Expensive,Excellent,Neutral
3,ORD100003,HP Pavilion Laptop,Computers,HP,Souq,Dubai,3665.44,1,3665.44,1.44,662,2024-07-25,Inexpensive,Low,Unknown
4,ORD100004,iPhone 13,Electronics,Apple,Souq,Casablanca,5210.37,2,10420.74,3.73,2424,2024-02-19,Expensive,Good,Neutral
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,ORD109994,Adidas Running Shoes,Fashion,Adidas,Jumia,Cairo,6384.43,3,19153.29,3.04,2551,2024-05-16,Expensive,Good,Positive
9995,ORD109995,HP Pavilion Laptop,Computers,HP,Jumia,Riyadh,3571.93,1,3571.93,1.05,2154,2024-05-21,Inexpensive,Low,Neutral
9997,ORD109997,Adidas Running Shoes,Fashion,Adidas,Amazon,Riyadh,8646.20,1,8646.20,3.20,4001,2024-10-15,Moderate,Good,Positive
9998,ORD109998,T-shirt Cotton,Fashion,Generic,Amazon,Riyadh,4960.53,4,19842.12,3.42,685,2024-04-26,Expensive,Good,Unknown
9999,ORD109999,Bluetooth Headset,Accessories,JBL,Jumia,Casablanca,13811.49,5,69057.45,2.84,488,2024-01-15,Expensive,Good,Unknown

In [ ]:
#Show orders where Quantity >= 3
df_ecommerce[df_ecommerce['Quantity']>3]

,OrderID,Product,Category,Brand,Platform,City,Price,Quantity,TotalAmount,Rating,Reviews,OrderDate,Price_tier,Rating_tier,Reviews_tier
5,ORD100005,T-shirt Cotton,Fashion,Generic,Souq,Riyadh,19869.86,5,99349.30,3.91,2154,2024-09-28,Expensive,Good,Neutral
8,ORD100008,T-shirt Cotton,Fashion,Generic,Amazon,Dubai,510.30,5,2551.50,1.17,178,2024-09-21,Inexpensive,Low,Unknown
13,ORD100013,HP Pavilion Laptop,Computers,HP,Jumia,Dubai,19853.19,4,79412.76,3.46,2143,2024-04-06,Expensive,Good,Neutral
14,ORD100014,HP Pavilion Laptop,Computers,HP,Jumia,Alexandria,17920.82,4,71683.28,4.84,2166,2024-07-11,Expensive,Excellent,Neutral
15,ORD100015,Xiaomi Redmi Note 12,Electronics,Xiaomi,Amazon,Cairo,15802.27,5,79011.35,1.75,1853,2024-02-02,Expensive,Low,Neutral
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,ORD109991,iPhone 13,Electronics,Apple,Jumia,Alexandria,5108.58,5,25542.90,4.13,1586,2024-09-03,Expensive,Excellent,Neutral
9993,ORD109993,iPhone 13,Electronics,Apple,Souq,Casablanca,19530.95,4,78123.80,4.34,4356,2024-04-10,Expensive,Excellent,Positive
9996,ORD109996,Adidas Running Shoes,Fashion,Adidas,Souq,Cairo,2974.55,4,11898.20,2.60,1796,2024-11-27,Expensive,Good,Neutral
9998,ORD109998,T-shirt Cotton,Fashion,Generic,Amazon,Riyadh,4960.53,4,19842.12,3.42,685,2024-04-26,Expensive,Good,Unknown
9999,ORD109999,Bluetooth Headset,Accessories,JBL,Jumia,Casablanca,13811.49,5,69057.45,2.84,488,2024-01-15,Expensive,Good,Unknown

In [ ]:
#Show orders where TotalAmount > 50000
df_ecommerce[df_ecommerce['TotalAmount']>50000]

,OrderID,Product,Category,Brand,Platform,City,Price,Quantity,TotalAmount,Rating,Reviews,OrderDate,Price_tier,Rating_tier,Reviews_tier
5,ORD100005,T-shirt Cotton,Fashion,Generic,Souq,Riyadh,19869.86,5,99349.30,3.91,2154,2024-09-28,Expensive,Good,Neutral
13,ORD100013,HP Pavilion Laptop,Computers,HP,Jumia,Dubai,19853.19,4,79412.76,3.46,2143,2024-04-06,Expensive,Good,Neutral
14,ORD100014,HP Pavilion Laptop,Computers,HP,Jumia,Alexandria,17920.82,4,71683.28,4.84,2166,2024-07-11,Expensive,Excellent,Neutral
15,ORD100015,Xiaomi Redmi Note 12,Electronics,Xiaomi,Amazon,Cairo,15802.27,5,79011.35,1.75,1853,2024-02-02,Expensive,Low,Neutral
23,ORD100023,Dell Inspiron 3501,Computers,Dell,Jumia,Casablanca,17087.44,3,51262.32,4.75,2187,2024-01-07,Expensive,Excellent,Neutral
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9980,ORD109980,Nike Air Max,Fashion,Nike,Amazon,Dubai,15257.93,5,76289.65,3.67,2131,2024-02-19,Expensive,Good,Neutral
9984,ORD109984,Adidas Running Shoes,Fashion,Adidas,Souq,Dubai,15847.46,5,79237.30,2.51,4700,2024-04-07,Expensive,Good,Positive
9985,ORD109985,iPhone 13,Electronics,Apple,Souq,Cairo,15329.04,5,76645.20,3.87,15,2024-10-30,Expensive,Good,Unknown
9993,ORD109993,iPhone 13,Electronics,Apple,Souq,Casablanca,19530.95,4,78123.80,4.34,4356,2024-04-10,Expensive,Excellent,Positive
9999,ORD109999,Bluetooth Headset,Accessories,JBL,Jumia,Casablanca,13811.49,5,69057.45,2.84,488,2024-01-15,Expensive,Good,Unknown

# ***ðŸŸ  Multiple Conditions***

In [ ]:
#Show orders where Category == "Electronics" AND Rating >= 4
df_ecommerce[(df_ecommerce['Category']=='Electronics') & (df_ecommerce['Rating']>4)]

,OrderID,Product,Category,Brand,Platform,City,Price,Quantity,TotalAmount,Rating,Reviews,OrderDate,Price_tier,Rating_tier,Reviews_tier
21,ORD100021,Samsung Galaxy A14,Electronics,Samsung,Jumia,Casablanca,12134.55,4,48538.20,4.61,2413,2024-01-28,Expensive,Excellent,Neutral
22,ORD100022,iPhone 13,Electronics,Apple,Jumia,Alexandria,3597.29,1,3597.29,4.63,2559,2024-04-07,Inexpensive,Excellent,Positive
24,ORD100024,Samsung Galaxy A14,Electronics,Samsung,Souq,Dubai,7396.38,2,14792.76,4.34,1123,2024-02-08,Expensive,Excellent,Neutral
51,ORD100051,iPhone 13,Electronics,Apple,Amazon,Riyadh,756.73,2,1513.46,4.57,3465,2024-12-23,Inexpensive,Excellent,Positive
59,ORD100059,iPhone 13,Electronics,Apple,Souq,Alexandria,7877.19,1,7877.19,4.33,74,2024-11-30,Moderate,Excellent,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9976,ORD109976,Samsung Galaxy A14,Electronics,Samsung,Souq,Alexandria,1136.86,3,3410.58,4.10,839,2024-02-09,Inexpensive,Excellent,Unknown
9977,ORD109977,iPhone 13,Electronics,Apple,Amazon,Cairo,2675.05,1,2675.05,4.28,3215,2024-11-22,Inexpensive,Excellent,Positive
9981,ORD109981,iPhone 13,Electronics,Apple,Jumia,Dubai,12830.85,2,25661.70,4.89,698,2024-01-10,Expensive,Excellent,Unknown
9991,ORD109991,iPhone 13,Electronics,Apple,Jumia,Alexandria,5108.58,5,25542.90,4.13,1586,2024-09-03,Expensive,Excellent,Neutral
9993,ORD109993,iPhone 13,Electronics,Apple,Souq,Casablanca,19530.95,4,78123.80,4.34,4356,2024-04-10,Expensive,Excellent,Positive

In [ ]:
#Show orders where Platform == "Flipkart" AND Price < 8000
df_ecommerce[(df_ecommerce['Platform']=='Souq') & (df_ecommerce['Price']< 8000)]

,OrderID,Product,Category,Brand,Platform,City,Price,Quantity,TotalAmount,Rating,Reviews,OrderDate,Price_tier,Rating_tier,Reviews_tier
3,ORD100003,HP Pavilion Laptop,Computers,HP,Souq,Dubai,3665.44,1,3665.44,1.44,662,2024-07-25,Inexpensive,Low,Unknown
4,ORD100004,iPhone 13,Electronics,Apple,Souq,Casablanca,5210.37,2,10420.74,3.73,2424,2024-02-19,Expensive,Good,Neutral
12,ORD100012,HP Pavilion Laptop,Computers,HP,Souq,Dubai,5904.49,3,17713.47,2.60,1215,2024-08-09,Expensive,Good,Neutral
16,ORD100016,Samsung Galaxy A14,Electronics,Samsung,Souq,Alexandria,3529.77,5,17648.85,2.06,717,2024-05-09,Expensive,Low,Unknown
19,ORD100019,T-shirt Cotton,Fashion,Generic,Souq,Cairo,5953.25,3,17859.75,1.99,3079,2024-03-12,Expensive,Low,Positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9972,ORD109972,Smartwatch FitPro,Wearables,FitPro,Souq,Dubai,982.26,1,982.26,1.75,4638,2024-04-17,Inexpensive,Low,Positive
9975,ORD109975,Bluetooth Headset,Accessories,JBL,Souq,Dubai,4203.17,3,12609.51,3.46,3765,2024-02-29,Expensive,Good,Positive
9976,ORD109976,Samsung Galaxy A14,Electronics,Samsung,Souq,Alexandria,1136.86,3,3410.58,4.10,839,2024-02-09,Inexpensive,Excellent,Unknown
9990,ORD109990,Samsung Galaxy A14,Electronics,Samsung,Souq,Casablanca,3397.33,4,13589.32,1.37,370,2024-02-10,Expensive,Low,Unknown
9996,ORD109996,Adidas Running Shoes,Fashion,Adidas,Souq,Cairo,2974.55,4,11898.20,2.60,1796,2024-11-27,Expensive,Good,Neutral

In [ ]:
#Show orders where City == "Hyderabad" AND Quantity > 2
df_ecommerce[(df_ecommerce['City']=='Dubai') & (df_ecommerce['Quantity']>2)]

,OrderID,Product,Category,Brand,Platform,City,Price,Quantity,TotalAmount,Rating,Reviews,OrderDate,Price_tier,Rating_tier,Reviews_tier
8,ORD100008,T-shirt Cotton,Fashion,Generic,Amazon,Dubai,510.30,5,2551.50,1.17,178,2024-09-21,Inexpensive,Low,Unknown
12,ORD100012,HP Pavilion Laptop,Computers,HP,Souq,Dubai,5904.49,3,17713.47,2.60,1215,2024-08-09,Expensive,Good,Neutral
13,ORD100013,HP Pavilion Laptop,Computers,HP,Jumia,Dubai,19853.19,4,79412.76,3.46,2143,2024-04-06,Expensive,Good,Neutral
20,ORD100020,Adidas Running Shoes,Fashion,Adidas,Amazon,Dubai,9716.95,4,38867.80,1.76,60,2024-06-28,Expensive,Low,Unknown
26,ORD100026,iPhone 13,Electronics,Apple,Souq,Dubai,14633.56,4,58534.24,3.00,4444,2024-05-26,Expensive,Good,Positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9956,ORD109956,Xiaomi Redmi Note 12,Electronics,Xiaomi,Souq,Dubai,9182.09,4,36728.36,2.52,3144,2024-02-18,Expensive,Good,Positive
9975,ORD109975,Bluetooth Headset,Accessories,JBL,Souq,Dubai,4203.17,3,12609.51,3.46,3765,2024-02-29,Expensive,Good,Positive
9980,ORD109980,Nike Air Max,Fashion,Nike,Amazon,Dubai,15257.93,5,76289.65,3.67,2131,2024-02-19,Expensive,Good,Neutral
9982,ORD109982,T-shirt Cotton,Fashion,Generic,Amazon,Dubai,6093.55,4,24374.20,1.54,3604,2024-09-19,Expensive,Low,Positive
9984,ORD109984,Adidas Running Shoes,Fashion,Adidas,Souq,Dubai,15847.46,5,79237.30,2.51,4700,2024-04-07,Expensive,Good,Positive

# ***ðŸ”µ Tier-Based (Using Your New Columns)***

In [ ]:
#Show all Expensive products
df_ecommerce[df_ecommerce['Price_tier']=='Expensive']

,OrderID,Product,Category,Brand,Platform,City,Price,Quantity,TotalAmount,Rating,Reviews,OrderDate,Price_tier,Rating_tier,Reviews_tier
0,ORD100000,Samsung Galaxy A14,Electronics,Samsung,Souq,Cairo,16284.02,1,16284.02,1.39,1684,2024-11-11,Expensive,Low,Neutral
1,ORD100001,Nike Air Max,Fashion,Nike,Jumia,Alexandria,6645.20,2,13290.40,2.56,3604,2024-06-22,Expensive,Good,Positive
2,ORD100002,Bluetooth Headset,Accessories,JBL,Jumia,Casablanca,8882.92,3,26648.76,4.98,1257,2024-05-27,Expensive,Excellent,Neutral
4,ORD100004,iPhone 13,Electronics,Apple,Souq,Casablanca,5210.37,2,10420.74,3.73,2424,2024-02-19,Expensive,Good,Neutral
5,ORD100005,T-shirt Cotton,Fashion,Generic,Souq,Riyadh,19869.86,5,99349.30,3.91,2154,2024-09-28,Expensive,Good,Neutral
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9993,ORD109993,iPhone 13,Electronics,Apple,Souq,Casablanca,19530.95,4,78123.80,4.34,4356,2024-04-10,Expensive,Excellent,Positive
9994,ORD109994,Adidas Running Shoes,Fashion,Adidas,Jumia,Cairo,6384.43,3,19153.29,3.04,2551,2024-05-16,Expensive,Good,Positive
9996,ORD109996,Adidas Running Shoes,Fashion,Adidas,Souq,Cairo,2974.55,4,11898.20,2.60,1796,2024-11-27,Expensive,Good,Neutral
9998,ORD109998,T-shirt Cotton,Fashion,Generic,Amazon,Riyadh,4960.53,4,19842.12,3.42,685,2024-04-26,Expensive,Good,Unknown
9999,ORD109999,Bluetooth Headset,Accessories,JBL,Jumia,Casablanca,13811.49,5,69057.45,2.84,488,2024-01-15,Expensive,Good,Unknown

In [ ]:
#Show products with Low rating tier
df_ecommerce[df_ecommerce['Rating_tier']=='Low']

,OrderID,Product,Category,Brand,Platform,City,Price,Quantity,TotalAmount,Rating,Reviews,OrderDate,Price_tier,Rating_tier,Reviews_tier
0,ORD100000,Samsung Galaxy A14,Electronics,Samsung,Souq,Cairo,16284.02,1,16284.02,1.39,1684,2024-11-11,Expensive,Low,Neutral
3,ORD100003,HP Pavilion Laptop,Computers,HP,Souq,Dubai,3665.44,1,3665.44,1.44,662,2024-07-25,Inexpensive,Low,Unknown
8,ORD100008,T-shirt Cotton,Fashion,Generic,Amazon,Dubai,510.30,5,2551.50,1.17,178,2024-09-21,Inexpensive,Low,Unknown
9,ORD100009,Xiaomi Redmi Note 12,Electronics,Xiaomi,Jumia,Riyadh,6326.57,3,18979.71,2.05,4589,2024-09-26,Expensive,Low,Positive
15,ORD100015,Xiaomi Redmi Note 12,Electronics,Xiaomi,Amazon,Cairo,15802.27,5,79011.35,1.75,1853,2024-02-02,Expensive,Low,Neutral
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9983,ORD109983,Dell Inspiron 3501,Computers,Dell,Amazon,Alexandria,7339.72,5,36698.60,1.82,3518,2024-02-11,Expensive,Low,Positive
9986,ORD109986,Samsung Galaxy A14,Electronics,Samsung,Souq,Dubai,18415.53,1,18415.53,2.01,2446,2024-01-09,Expensive,Low,Neutral
9987,ORD109987,Nike Air Max,Fashion,Nike,Amazon,Casablanca,17139.83,2,34279.66,2.37,920,2024-06-13,Expensive,Low,Unknown
9990,ORD109990,Samsung Galaxy A14,Electronics,Samsung,Souq,Casablanca,3397.33,4,13589.32,1.37,370,2024-02-10,Expensive,Low,Unknown
9995,ORD109995,HP Pavilion Laptop,Computers,HP,Jumia,Riyadh,3571.93,1,3571.93,1.05,2154,2024-05-21,Inexpensive,Low,Neutral

In [ ]:
#Show products with Positive reviews tier
df_ecommerce[df_ecommerce['Reviews_tier']=='Positive']

,OrderID,Product,Category,Brand,Platform,City,Price,Quantity,TotalAmount,Rating,Reviews,OrderDate,Price_tier,Rating_tier,Reviews_tier
1,ORD100001,Nike Air Max,Fashion,Nike,Jumia,Alexandria,6645.20,2,13290.40,2.56,3604,2024-06-22,Expensive,Good,Positive
6,ORD100006,T-shirt Cotton,Fashion,Generic,Souq,Casablanca,17796.11,2,35592.22,4.18,4309,2024-07-02,Expensive,Excellent,Positive
7,ORD100007,Smartwatch FitPro,Wearables,FitPro,Souq,Casablanca,13081.14,3,39243.42,2.98,3504,2024-01-30,Expensive,Good,Positive
9,ORD100009,Xiaomi Redmi Note 12,Electronics,Xiaomi,Jumia,Riyadh,6326.57,3,18979.71,2.05,4589,2024-09-26,Expensive,Low,Positive
10,ORD100010,Samsung Galaxy A14,Electronics,Samsung,Jumia,Riyadh,10283.51,1,10283.51,3.05,4702,2024-02-20,Expensive,Good,Positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9988,ORD109988,Dell Inspiron 3501,Computers,Dell,Amazon,Giza,9093.51,5,45467.55,4.08,4273,2024-11-10,Expensive,Excellent,Positive
9989,ORD109989,Bluetooth Headset,Accessories,JBL,Amazon,Casablanca,6882.22,5,34411.10,3.13,2771,2024-08-13,Expensive,Good,Positive
9993,ORD109993,iPhone 13,Electronics,Apple,Souq,Casablanca,19530.95,4,78123.80,4.34,4356,2024-04-10,Expensive,Excellent,Positive
9994,ORD109994,Adidas Running Shoes,Fashion,Adidas,Jumia,Cairo,6384.43,3,19153.29,3.04,2551,2024-05-16,Expensive,Good,Positive
9997,ORD109997,Adidas Running Shoes,Fashion,Adidas,Amazon,Riyadh,8646.20,1,8646.20,3.20,4001,2024-10-15,Moderate,Good,Positive

# ***ðŸŸ£ Business-Style Queries***

In [ ]:
#Show Expensive products with Low ratings
df_ecommerce[(df_ecommerce['Price_tier']=='Expensive') & (df_ecommerce['Rating_tier']=='Low')]

,OrderID,Product,Category,Brand,Platform,City,Price,Quantity,TotalAmount,Rating,Reviews,OrderDate,Price_tier,Rating_tier,Reviews_tier
0,ORD100000,Samsung Galaxy A14,Electronics,Samsung,Souq,Cairo,16284.02,1,16284.02,1.39,1684,2024-11-11,Expensive,Low,Neutral
9,ORD100009,Xiaomi Redmi Note 12,Electronics,Xiaomi,Jumia,Riyadh,6326.57,3,18979.71,2.05,4589,2024-09-26,Expensive,Low,Positive
15,ORD100015,Xiaomi Redmi Note 12,Electronics,Xiaomi,Amazon,Cairo,15802.27,5,79011.35,1.75,1853,2024-02-02,Expensive,Low,Neutral
16,ORD100016,Samsung Galaxy A14,Electronics,Samsung,Souq,Alexandria,3529.77,5,17648.85,2.06,717,2024-05-09,Expensive,Low,Unknown
18,ORD100018,iPhone 13,Electronics,Apple,Amazon,Giza,13936.49,2,27872.98,1.42,153,2024-01-24,Expensive,Low,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9982,ORD109982,T-shirt Cotton,Fashion,Generic,Amazon,Dubai,6093.55,4,24374.20,1.54,3604,2024-09-19,Expensive,Low,Positive
9983,ORD109983,Dell Inspiron 3501,Computers,Dell,Amazon,Alexandria,7339.72,5,36698.60,1.82,3518,2024-02-11,Expensive,Low,Positive
9986,ORD109986,Samsung Galaxy A14,Electronics,Samsung,Souq,Dubai,18415.53,1,18415.53,2.01,2446,2024-01-09,Expensive,Low,Neutral
9987,ORD109987,Nike Air Max,Fashion,Nike,Amazon,Casablanca,17139.83,2,34279.66,2.37,920,2024-06-13,Expensive,Low,Unknown
9990,ORD109990,Samsung Galaxy A14,Electronics,Samsung,Souq,Casablanca,3397.33,4,13589.32,1.37,370,2024-02-10,Expensive,Low,Unknown

In [ ]:
#Show Moderate price products with Excellent ratings
df_ecommerce[(df_ecommerce['Price_tier']=='Moderate') & (df_ecommerce['Rating_tier']=='Excellent')]

,OrderID,Product,Category,Brand,Platform,City,Price,Quantity,TotalAmount,Rating,Reviews,OrderDate,Price_tier,Rating_tier,Reviews_tier
59,ORD100059,iPhone 13,Electronics,Apple,Souq,Alexandria,7877.19,1,7877.19,4.33,74,2024-11-30,Moderate,Excellent,Unknown
74,ORD100074,Adidas Running Shoes,Fashion,Adidas,Amazon,Cairo,8551.18,1,8551.18,4.56,4219,2024-05-22,Moderate,Excellent,Positive
85,ORD100085,Adidas Running Shoes,Fashion,Adidas,Jumia,Casablanca,1569.06,4,6276.24,4.92,4342,2024-09-21,Moderate,Excellent,Positive
102,ORD100102,Smartwatch FitPro,Wearables,FitPro,Souq,Riyadh,2784.77,2,5569.54,4.92,3568,2024-08-15,Moderate,Excellent,Positive
133,ORD100133,Adidas Running Shoes,Fashion,Adidas,Souq,Alexandria,3563.05,2,7126.10,4.64,2442,2024-01-06,Moderate,Excellent,Neutral
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9801,ORD109801,iPhone 13,Electronics,Apple,Amazon,Riyadh,7083.82,1,7083.82,4.66,1685,2024-05-31,Moderate,Excellent,Neutral
9822,ORD109822,Samsung Galaxy A14,Electronics,Samsung,Jumia,Riyadh,2486.24,4,9944.96,4.64,3627,2024-01-04,Moderate,Excellent,Positive
9827,ORD109827,Xiaomi Redmi Note 12,Electronics,Xiaomi,Souq,Cairo,1564.52,4,6258.08,4.14,2248,2024-11-06,Moderate,Excellent,Neutral
9898,ORD109898,Samsung Galaxy A14,Electronics,Samsung,Jumia,Dubai,2873.19,3,8619.57,4.44,2182,2024-09-10,Moderate,Excellent,Neutral
9915,ORD109915,T-shirt Cotton,Fashion,Generic,Souq,Casablanca,9625.17,1,9625.17,4.18,3334,2024-08-15,Moderate,Excellent,Positive

In [ ]:
#Show products that are Expensive AND have Unknown reviews
df_ecommerce[(df_ecommerce['Price_tier']=='Expensive') & (df_ecommerce['Reviews_tier']=='Unknown')]

,OrderID,Product,Category,Brand,Platform,City,Price,Quantity,TotalAmount,Rating,Reviews,OrderDate,Price_tier,Rating_tier,Reviews_tier
16,ORD100016,Samsung Galaxy A14,Electronics,Samsung,Souq,Alexandria,3529.77,5,17648.85,2.06,717,2024-05-09,Expensive,Low,Unknown
18,ORD100018,iPhone 13,Electronics,Apple,Amazon,Giza,13936.49,2,27872.98,1.42,153,2024-01-24,Expensive,Low,Unknown
20,ORD100020,Adidas Running Shoes,Fashion,Adidas,Amazon,Dubai,9716.95,4,38867.80,1.76,60,2024-06-28,Expensive,Low,Unknown
25,ORD100025,Xiaomi Redmi Note 12,Electronics,Xiaomi,Souq,Casablanca,15915.39,5,79576.95,1.73,534,2024-01-02,Expensive,Low,Unknown
28,ORD100028,Bluetooth Headset,Accessories,JBL,Amazon,Giza,12094.71,2,24189.42,3.37,628,2024-08-28,Expensive,Good,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9987,ORD109987,Nike Air Max,Fashion,Nike,Amazon,Casablanca,17139.83,2,34279.66,2.37,920,2024-06-13,Expensive,Low,Unknown
9990,ORD109990,Samsung Galaxy A14,Electronics,Samsung,Souq,Casablanca,3397.33,4,13589.32,1.37,370,2024-02-10,Expensive,Low,Unknown
9992,ORD109992,Nike Air Max,Fashion,Nike,Jumia,Cairo,12745.76,3,38237.28,3.09,785,2024-06-14,Expensive,Good,Unknown
9998,ORD109998,T-shirt Cotton,Fashion,Generic,Amazon,Riyadh,4960.53,4,19842.12,3.42,685,2024-04-26,Expensive,Good,Unknown
9999,ORD109999,Bluetooth Headset,Accessories,JBL,Jumia,Casablanca,13811.49,5,69057.45,2.84,488,2024-01-15,Expensive,Good,Unknown